//Fonts
$fontBold: 'Conv_Oswald-Bold';
$fontLight: 'Conv_Oswald-Light';
$fontRegular: 'Conv_Oswald-Regular';

//Color
$colorMain: #ffe600;
$colorWhite: #fff;
$colorBlack: #000;
$colorFontGrey: #707070;
$colorDarkGrey: #131a1d;
$colorDark: #131316;
$colorGrey: #fbfbfb;
$colorLightGrey: #e1e6e6;

//Breakpoints
$screen-small: 768px;
$screen-medium: 992px;
$screen-large: 1200px;