h1{
  font-family: $fontBold;
  font-size: 4em;
  line-height: 1.2em;
  padding-bottom: 48px;
    @include mq-small-down{
      font-size: 1.3em;
      padding-bottom: 10px;
    }
}
h2{
  font-family: $fontBold;
  font-size: 1.875em;
}
h3{
  font-family: $fontRegular;
  font-size: 1em;
  margin-bottom: 25px;
}
h4{
  font-family: $fontRegular;
  font-size: 1.5625em;
}
.yellow-stripe{
  position: relative;
  margin-bottom: 50px;
}
.yellow-stripe:after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -25px;
  left: 0;
  width: 170px;
  height: 3px;
  margin-right: auto;
  margin-left: auto;
  background: $colorMain;
}
.headline{
  font-family: $fontBold;
  font-size: 1.25em;
}
.content{
  font-family: $fontLight;
  font-size: 1em;
  line-height: 1.25em;
  color: $colorFontGrey;
}
.caption{
  font-family: $fontLight;
  font-size: 1em;
  line-height: 1.5625em;
  margin: 27px 0 60px;
}
.black{
  color: $colorWhite;
  background-color: $colorDarkGrey;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 60px 0 70px;
  @include mq-small-down{
    padding: 30px 15px 35px;
  }
  @media (max-width: $screen-small) {

  }
}
