%icon{
  font-family: 'icomoon';
  color: $colorMain;
  font-size: 2em;
}
.time:before{
  @extend %icon;
  content: "\e90a";
}
.support:before{
  @extend %icon;
  content: "\e908";
}
.experience:before {
  @extend %icon;
  content: "\e909";
}
.team:before {
  @extend %icon;
  content: "\e907";
}
.media{
  margin-bottom: 60px;

}