#about {
  .text-left{
    margin-top: 20px;
  }
  %pictures {
    font-family: 'icomoon';
    font-size: 2em;
    color: $colorWhite;
    z-index: 1;
    position: absolute;
    top: 25%;
    left: 28%;
  }
  %hoverAnimation{
    background-color: $colorWhite;
    border: 2px solid $colorMain;
    transition: all .3s ease-in;
    transform: rotate(360deg);
    -webkit-transition: all .3s ease;
    -webkit-transform: rotate(360deg);
    -ms-transition: all .3s ease;
    -ms-transform: rotate(360deg);
    -moz-transition: all .3s ease;
    -moz-transform: rotate(360deg);
    &::before{
      color: $colorMain;
    }
  }

  .time {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $colorMain;
    border-radius: 50%;
    &:before {
      @extend %pictures;
      content: "\e90a";
    }
    &:hover{
      @extend %hoverAnimation;
    }
  }

  .support {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $colorMain;
    border-radius: 50%;
    &:before {
      @extend %pictures;
      content: "\e908";
    }
    &:hover{
      @extend %hoverAnimation;
    }
  }
  .experience {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $colorMain;
    border-radius: 50%;
    &:before {
      @extend %pictures;
      content: "\e909";
    }
    &:hover{
      @extend %hoverAnimation;
    }
  }
  .team {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: $colorMain;
    border-radius: 50%;
    &:before {
      @extend %pictures;
      content: "\e907";
    }
    &:hover{
      @extend %hoverAnimation;
    }
  }
  .media {
    margin-bottom: 60px;
    @include mq-small-down{
      margin-bottom: 30px;
    }
  }
}