#contact-form {
  .form-group {
    margin-bottom: 28px;
  }
  .form-control {
    background: none;
    font-family: $fontLight;
    font-size: 1em;
    border-radius: 0;
    padding: 23px 20px 23px;
  }
  textarea {
    resize: none;
  }
  .help-block{
    margin-bottom: 28px;
  }
  input::-webkit-input-placeholder {
    color:$colorFontGrey;
  }
  input::-moz-placeholder {
    color:$colorFontGrey;
    opacity: 1;
  }
  input:-moz-placeholder {
    color:$colorFontGrey;
    opacity: 1;
  }
  input::-ms-input-placeholder {
    color:$colorFontGrey;
  }	/* IE10+ */
}