.header {
  background: url(/public/images/bg_headerNav.png);
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  .logo{
    padding-top: 17px;
  }
  .menu {
    @include mq-large {
      padding: 44px 0 41px 190px;
    }
    .header-nav {
      max-width: 1167px;
      margin: 0 auto;
      #dropdownMenu1 {
        background-color: $colorMain;
        border: none;
        color: #0f0f0f;
        padding: 5px 10px;
        margin: 25px 0 0 120px;
        .glyphicon-menu-hamburger {
          color: #0f0f0f;
        }
      }
      .dropdown-menu {
        background-color: $colorDarkGrey;
        .divider {
          background-color: $colorMain;
        }
        .dropdown-menu-item {
          color: $colorMain;
        }
      }
      .btn-menu {
        border: none;
        color: $colorMain;
        .glyphicon-menu-hamburger {
          color: $colorMain;
        }
      }
      .menu-item {
        font-family: $fontBold;
        font-size: 0.875em;
        color: $colorWhite;
        &:hover {
          color: $colorMain;
          background: none;
        }
        &:after {
          content: '';
          position: absolute;
          top: 45%;
          right: -5px;
          background-image: url(/public/images/separator_nav.png);
          width: 5px;
          height: 5px;
        }

      }
      .active {
        color: $colorMain;
      }
    }
  }
}
#top-block {
  position: relative;
  .bg{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .top-info{
    position: absolute;
    top: 15%;
    left: 0;
    text-align: center;
    width: 100%;
    .text-block{
      background: url(/public/images/bg_Tag.png);
      width: 100%;
      .heading{
        max-width: 690px;
        padding: 60px 0 65px;
        margin: 66px auto 63px;
        color: $colorWhite;
        @include mq-small-down{
          padding: 10px 0;
          margin: 39px auto;
          max-width: 300px;
        }
      }
    }
  }
}