#portfolio {
  .row {
    .image-container {
      padding: 0;
      margin: 0;
      position: relative;
      display: inline-block;
      img{
        margin: 0;
        padding: 0;
      }
    }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: $colorMain;
  }
  .image-container:hover .overlay {
    opacity: 0.8;
  }
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 155px;
    text-transform: uppercase;
    .text-header{
      font-family: $fontBold;
      font-size: 1.25em;
      padding-bottom: 17px;
    }
    p{
      font-family: $fontRegular;
      font-size: 1em;
    }
  }
  .caption{
    margin: 27px 0 63px;
  }
}