#process {
  background-color: $colorBlack;
  h2{
    color: $colorMain;
  }
  .caption{
    margin: 27px 0 63px;
    color: $colorWhite;
    @include mq-small-down{
      margin: 27px 0 20px;
    }
  }
  .content {
    line-height: 1.25em;
    color: $colorWhite;
  }
  .block-next{
    margin-top: 20px;
  }
  %icon{
    font-family: 'icomoon';
    color: $colorMain;
    font-size: 2em;
  }
  .analyse,
  .preparing,
  .work,
  .finalyse,
  .testing,
  .deliver{
    margin: 0 auto;
    height: 32px;
    width: 100px;
    transition: all .3s ease-out;
    transform: scale(1);
    -webkit-transition: all .3s ease-out;
    -webkit-transform: scale(1);
    -ms-transition: all .3s ease-out;
    -ms-transform: scale(1);
    -moz-transition: all .3s ease-out;
    -moz-transform: scale(1);
  }
  .analyse:hover,
  .preparing:hover,
  .work:hover,
  .finalyse:hover,
  .testing:hover,
  .deliver:hover{
    transition: all .3s ease-in;
    transform: scale(1.75);
    -webkit-transition: all .3s ease-in;
    -webkit-transform: scale(1.75);
    -ms-transition: all .3s ease-in;
    -ms-transform: scale(1.75);
    -moz-transition: all .3s ease-in;
    -moz-transform: scale(1.75);
  }
  .analyse:before {
    @extend %icon;
    content: "\e90e";
  }
  .preparing:before{
    @extend %icon;
    content: "\e914";
  }
  .work:before{
    @extend %icon;
    content: "\e90d";
  }
  .finalyse:before {
    @extend %icon;
    content: "\e90c";
  }
  .testing:before{
    @extend %icon;
    content: "\e913";
  }
  .deliver:before{
    @extend %icon;
    content: "\e90b";
  }
}