#process {
  h2{
    color: $colorMain;
  }
  .caption{
    margin: 27px 0 63px;
    color: $colorWhite;
    @include mq-small-down{
      margin: 27px 0 20px;
    }
  }
  .content {
    line-height: 1.25em;
    color: $colorWhite;
  }
  .process-block{
    margin-top: 20px;
    .headline{
      margin-bottom: 30px;
    }
  }
  %icon{
    font-family: 'icomoon';
    color: $colorMain;
    font-size: 2em;
  }
  .analyse,
  .preparing,
  .work,
  .finalyse,
  .testing,
  .deliver{
    margin: 0 auto 27px;
    height: 32px;
    width: 100px;
  }
  .analyse:before {
    @extend %icon;
    content: "\e90e";
  }
  .preparing:before{
    @extend %icon;
    content: "\e914";
  }
  .work:before{
    @extend %icon;
    content: "\e90d";
  }
  .finalyse:before {
    @extend %icon;
    content: "\e90c";
  }
  .testing:before{
    @extend %icon;
    content: "\e913";
  }
  .deliver:before{
    @extend %icon;
    content: "\e90b";
  }
}