#skills{
  background-color: $colorDarkGrey;
  .thumbnail {
    background: none;
    border: none;
    max-width: 190px;
    max-height: 225px;
    img {
      max-width: 144px;
    }
    .caption{
      font-family: $fontRegular;
      font-size: 1.25em;
      color: $colorWhite;
    }
  }
}