#statistics{
  background-color: $colorDarkGrey;
  .box-information{
    width: 270px;
    height: 142px;
    border: 1px solid $colorMain;
    padding-top: 35px;
    margin: 10px 15px;
    .number{
      color: $colorWhite;
      font-family: $fontBold;
      font-size: 2.5em;
      margin-bottom: 17px;
    }
    .text{
      color: $colorMain;
      font-family: $fontRegular;
      font-size: 1em;
    }
  }
}